header {
    background-color: purple;
    color: white;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 15px;
}

h1 {
    margin: 0;
}

nav {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}

/*body*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.produtos {
    display: column;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

.produtosContainer, .carrinhoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cesto {
    display: column;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: purple;
}

.cesto h2 {
    color: white;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.produto img {
    max-width: 25%;
    height: auto;
    border-radius: 4px;
}

.produto h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.produto p {
    font-size: 0.9em;
    color: #666;
}

.produto button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 0.9em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #0056b3;
}

.filtroContainer {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    margin: 40px;
    gap: 20px;
}

textarea {
    resize: nome;
}

/*footer*/
footer {
    height: auto;
    width: 100%;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 20px;
    align-items: center;
}

footer p {
    text-align: center;
}