

body {
    background-color: black;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    width: 100vw;
}

head {
    background-color: grey;
    text-align: center;
    font-family: "Times New Roman", times, serif;
    box-sizing: border-box;
}

div {
    background-color: white;
}

h1 {
    text-align: center;
    background-color: grey;
    color: black;
    padding: 20px;
    margin: 20px;
  }

  figure {
    display: flex;
    position: relative;
    align-items: right;
    left:150px
    top:100px
  }

div#Laboratorios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 2px;
    padding: 5vw;
    background: whitesmoke;
  }

  #Laboratorios div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 0 20px 20px 0;
    background: white;
  }

  #Laboratorios section {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  /*@media (min-width:601px) {
    body {
      display: grid;
      width: 100vw;
      height: 100vh;
      grid-template-rows: 9vw 1fr 7vw;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas:
      'header header header'
      'menu main aside'
      'footer footer footer';
    }
  }

  @media (min-width:601px) {
    body {
      display: grid;
      width: 100vw;
      height: 100vh;
      grid-template-rows: 9vw 1fr 7vw;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas:
        'header'
        '#Interfaces'
        '#Introducao #Laboratorio'
        'footer';
    }
  }
  
  @media(max-width:600px) {
    body {
      display: grid;
      width: 100vw;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: 9vw 7vw 1fr 7vw 7vw;
      grid-template-areas:
        'header'
        'menu'
        'main'
        'footer';
    }
  }*/


  #Laboratorios #escuro{
    background-color: grey
  }
  
  #Laboratorios #claro {
    background-color: rgb(228, 228, 228);
  }

  a {
    color:white;
  }

  footer{
    background-color: grey;
    font-family: "Times New Roman", times, serif;
    text-align: center;
    margin:20px;
    padding: 15px;
  }