* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
    color: black;
}

h1 {
    padding: 1em;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a:last-child {
    background-color: rgb(77, 77, 77);
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav a:link {
    color: green;
}

nav a:visited {
    color: grey;
}

nav a:hover {
    color: blue;
}

nav a:active {
    color: red;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    white-space: pre-wrap;
}
body {
    background-color: rgb(100, 248, 248);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin: 20px;
}

em {
    font-weight: bold;
    font-style: italic;
    display: block;
}

div {
    position: relative;
}

img {
    width: 100vw;
}

div p{
    position: absolute;
    bottom: 30px; right: 20px;
}